/* Terminal Styles */
.blink {
    display: inline-block;
    width: 10px;
    height: 17px;
    background-color: #FFFFFF;
    animation: blink 1.2s step-end infinite;
    position: absolute;
    top: 3px;
    left: 0;
    z-index: 5;
} 